<html>
<head>
<title>云淘红包后台管理系统-$!page_title</title>
#parse("include/head.html")
</head>
<body>
    <div align="center" style="background-color: #ffffff; min-height: 100%;position: relative;">

          #parse("include/header.html")

        <div style="max-width: 1200px; min-width: 900px;padding-bottom: 40px;" align="left">
        
        <table  cellPadding="0" cellSpacing="0" style="width: 100%;">
        <tbody>
        <tr><td style="width: 220px;  vertical-align: top;">#parse("include/menu.html")</td><td style="vertical-align: top;"><div style="padding-left: 20px;padding-top: 20px;" align="left">$screen_content</div></td></tr>
        </tbody>
        </table>
        </div>
        #parse("include/footer.html")
    </div>
</body>
</html>
