<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongbao.dal.mapper.UserBindMapper">
	<resultMap id="BaseResultMap" type="com.hongbao.dal.model.UserBind">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="open_id" property="openId" jdbcType="VARCHAR"/>
		<result column="device_code" property="deviceCode" jdbcType="VARCHAR" />
	    <result column="device_type" property="deviceType" jdbcType="VARCHAR" />
		<result column="source" property="source" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="VARCHAR" />
		<result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id,open_id, device_code, device_type, source, nick_name,gender,pic_url,
		created_at, updated_at
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from vdlm_user_bind
		where id = #{id, typeHandler=idHandler}
	</select>
	
	
	
	
	<select id="selectUserBindByUnionId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from vdlm_user_bind
		where union_id = #{0, jdbcType=VARCHAR}  limit 0,1
	</select>
	
	<!-- 根据用户id 查询绑定表的 记录信息 -->
	<select id="getByUserIdUserBindList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from vdlm_user_bind
		where user_id = #{userId}
	</select>	
	
	
	<insert id="insert" parameterType="com.hongbao.dal.model.UserBind">
		<selectKey resultType="long" keyProperty="id">
			SELECT
			LAST_INSERT_ID() AS id
		</selectKey>
		insert into vdlm_user_bind ( user_id,uuid,open_id,device_code,device_type,source,nick_name,gender,pic_url, created_at,updated_at)
		values ( #{userId},#{uuid,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR} ,#{deviceCode,jdbcType=VARCHAR},
		#{deviceType,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR},now(), now())		
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.hongbao.dal.model.UserBind">
		update vdlm_user_bind
		<set>
			<if test="accountNumber != null">
				user_id = #{userId},
			</if>
		    updated_at = now()
		</set>
		where id = #{id} 
	</update>
</mapper>