#set( $page_title = "云淘下载" )

<div align="center" style="background-color: #eeeeee; min-height: 100%;min-width: 300px;">
    <div style="min-height: 100%; margin-left: 10px; margin-right: 10px;">
        <div style="height: 10px; background-color: #eeeeee;"></div>
        <div style="background-color: #eeeeee;">
            <div style="border: 1px solid #E4D7D7; border-radius: 8px; background-color: white;">
                <div style="">
                    <div style="height: 10px;"></div>
                    <div style="text-align: left;">
                        <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/dl_tag_ios.png" style="height: 30px;">
                    </div>
                    <div style="height: 30px;"></div>
                    <div>
                        <div class="btn  btn-block btn-danger   "
                            style="font-size: 16px; background-color: #ff5456; border: 0px; text-decoration: none; width: 80%; margin-top: 20px; border-radius: 8px;" onclick="location.href='http://www.pgyer.com/r7KX'">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/dl_logo_proxy.png" style="vertical-align: middle; margin: 10px; height: 28px;"><span>
                                代理商版下载</span>
                        </div>
                         <div class="btn  btn-block btn-danger   "
                            style="font-size: 16px; background-color: #ff5456; border: 0px; text-decoration: none; width: 80%; margin-top: 20px; border-radius: 8px;"  onclick="location.href='http://a.app.qq.com/o/simple.jsp?pkgname=com.sairongpay.coupon.business'">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/dl_logo_biz.png" style="vertical-align: middle; margin: 10px; height: 28px;"><span>
                                商户版下载&nbsp;&nbsp;</span>
                        </div>
                         <div class="btn  btn-block btn-danger   "
                            style="font-size: 16px; background-color: #ff5456; border: 0px; text-decoration: none; width: 80%; margin-top: 20px; border-radius: 8px;"  onclick="location.href='http://a.app.qq.com/o/simple.jsp?pkgname=com.sairongpay.coupon.customer'">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/dl_logo_user.png" style="vertical-align: middle; margin: 10px; height: 28px;"><span>
                                用户版下载&nbsp;&nbsp;</span>
                        </div>
                    </div>
                    <div style="height: 20px;"></div>
                </div>
            </div>
        </div>


        <div style="height: 10px; background-color: #eeeeee;"></div>
        <div style="background-color: #eeeeee;">
            <div style="border: 1px solid #E4D7D7; border-radius: 8px; background-color: white;">
                <div style="">
                    <div style="height: 10px;"></div>
                    <div style="text-align: left;">
                        <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/dl_tag_android.png" style="height: 30px;">
                    </div>
                    <div style="height: 30px;"></div>
                    <div>
                        <div class="btn  btn-block btn-danger   "
                            style="font-size: 16px; background-color: #ff5456; border: 0px; text-decoration: none; width: 80%; margin-top: 20px; border-radius: 8px;"  onclick="location.href='http://www.pgyer.com/DR0P'">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/dl_logo_proxy.png" style="vertical-align: middle; margin: 10px; height: 28px;"><span>
                                代理商版下载</span>
                        </div>
                         <div class="btn  btn-block btn-danger   "
                            style="font-size: 16px; background-color: #ff5456; border: 0px; text-decoration: none; width: 80%; margin-top: 20px; border-radius: 8px;"  onclick="location.href='http://a.app.qq.com/o/simple.jsp?pkgname=com.sairongpay.coupon.business'">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/dl_logo_biz.png" style="vertical-align: middle; margin: 10px; height: 28px;"><span>
                                商户版下载&nbsp;&nbsp;</span>
                        </div>
                         <div class="btn  btn-block btn-danger   "
                            style="font-size: 16px; background-color: #ff5456; border: 0px; text-decoration: none; width: 80%; margin-top: 20px; border-radius: 8px;"  onclick="location.href='http://a.app.qq.com/o/simple.jsp?pkgname=com.sairongpay.coupon.customer'">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/dl_logo_user.png" style="vertical-align: middle; margin: 10px; height: 28px;"><span>
                                用户版下载&nbsp;&nbsp;</span>
                        </div>
                    </div>
                    <div style="height: 20px;"></div>
                </div>
            </div>
        </div>
        
        <div>
        <br/>
            <span class="mt_10">下载链接（长按复制）</span><br/>
            <div class="mt_10" style="border: 1px solid #dadada; background-color: white; WORD-BREAK: break-all; padding: 5px; WORD-WRAP: break-word;border-radius: 4px; text-align: left;">http://hongbao.yuntaohongbao.com/download/all.html
            </div>
            <img  class="mt_10"  alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/qrcode_download_all.png"/><br/>
        </div>
          <!-- END  -->
        <div style="height: 10px; background-color: #eeeeee;"></div>
    </div>
</div>
