#set( $page_title = "云淘下载" )
<div align="center" style="background-color: #eeeeee; min-height: 100%;min-width: 300px;">
    <div style="background-color: white; min-height: 100%; margin-left: 10px; margin-right: 10px;">
        <!-- 云淘红包代理商版  -->
        <div style="height: 10px; background-color: #eeeeee;"></div>
        <div style="background-color: #eeeeee;">
            <div style="border: 1px solid #E4D7D7; border-radius: 8px; background-color: white;">
                <div style="">
                    <div style="height: 10px;"></div>
                    <div style="text-align: left;">
                        <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/logo_tag_proxy.png" style="height: 30px;">
                    </div>
                    <div style="height: 30px;"></div>
                    <div>
                        <div style="width: 80%;">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/qrcode_download_proxy_ios.png" style="border: 1px solid #dadada; width: 80%;">
                        </div>
                        <div class="btn  btn-block btn-danger   "
                            style="font-size: 16px; background-color: #ff5456; border: 0px; text-decoration: none; width: 80%; margin-top: 20px; border-radius: 8px;" onclick="location.href='http://www.pgyer.com/r7KX'">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/logo_iphone.png" style="vertical-align: middle; margin: 10px; height: 28px;"><span>iPhone
                                版本下载</span>
                        </div>
                    </div>
                    <div style="height: 0px; border-bottom: 1px solid #DADADA; margin-top: 20px; margin-bottom: 20px;"></div>
                    <div>
                        <div style="width: 80%;">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/qrcode_download_proxy_android.png" style="border: 1px solid #dadada; width: 80%;">
                        </div>
                        <div class="btn  btn-block btn-danger   "
                            style="font-size: 16px; background-color: #ff5456; border: 0px; text-decoration: none; width: 80%; margin-top: 20px; border-radius: 8px;" onclick="location.href='http://www.pgyer.com/DR0P'">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/logo_android.png" style="vertical-align: middle; margin: 10px; height: 28px;"><span>Android
                                版本下载</span>
                        </div>
                    </div>
                    <div style="height: 20px;"></div>
                </div>
            </div>
        </div>
        <!-- 云淘红包商户版  -->
        <div style="height: 10px; background-color: #eeeeee;"></div>
        <div style="background-color: #eeeeee;">
            <div style="border: 1px solid #E4D7D7; border-radius: 8px; background-color: white;">
                <div style="">
                    <div style="height: 10px;"></div>
                    <div style="text-align: left;">
                        <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/logo_tag_biz.png" style="height: 30px;">
                    </div>
                    <div style="height: 30px;"></div>
                    <div>
                        <div style="width: 80%;">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/qrcode_download_biz_ios.png" style="border: 1px solid #dadada; width: 80%;">
                        </div>
                        <div class="btn  btn-block btn-danger "
                            style="font-size: 16px; background-color: #ff5456; border: 0px; text-decoration: none; width: 80%; margin-top: 20px; border-radius: 8px;" onclick="location.href='http://www.pgyer.com/mXSi'">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/logo_iphone.png" style="vertical-align: middle; margin: 10px; height: 28px;"><span>iPhone
                                版本下载</span>
                        </div>
                    </div>
                    <div style="height: 0px; border-bottom: 1px solid #DADADA; margin-top: 20px; margin-bottom: 20px;"></div>
                    <div>
                        <div style="width: 80%;">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/qrcode_download_biz_android.png" style="border: 1px solid #dadada; width: 80%;">
                        </div>
                        <div class="btn  btn-block btn-danger   "
                            style="font-size: 16px; background-color: #ff5456; border: 0px; text-decoration: none; width: 80%; margin-top: 20px; border-radius: 8px;" onclick="location.href='http://a.app.qq.com/o/simple.jsp?pkgname=com.sairongpay.coupon.business'">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/logo_android.png" style="vertical-align: middle; margin: 10px; height: 28px;"><span>Android
                                版本下载</span>
                        </div>
                    </div>
                    <div style="height: 20px;"></div>
                </div>
            </div>
        </div>
        <!-- 云淘红包用户版  -->
        <div style="height: 10px; background-color: #eeeeee;"></div>
        <div style="background-color: #eeeeee;">
            <div style="border: 1px solid #E4D7D7; border-radius: 8px; background-color: white;">
                <div style="">
                    <div style="height: 10px;"></div>
                    <div style="text-align: left;">
                        <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/logo_tag_user.png" style="height: 30px;">
                    </div>
                    <div style="height: 30px;"></div>
                    <div>
                        <div style="width: 80%;">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/qrcode_download_user_ios.png" style="border: 1px solid #dadada; width: 80%;">
                        </div>
                        <div class="btn  btn-block btn-danger   "
                            style="font-size: 16px; background-color: #ff5456; border: 0px; text-decoration: none; width: 80%; margin-top: 20px; border-radius: 8px;" onclick="location.href='http://www.pgyer.com/LwpM'">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/logo_iphone.png" style="vertical-align: middle; margin: 10px; height: 28px;"><span>iPhone
                                版本下载</span>
                        </div>
                    </div>
                    <div style="height: 0px; border-bottom: 1px solid #DADADA; margin-top: 20px; margin-bottom: 20px;"></div>
                    <div>
                        <div style="width: 80%;">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/qrcode_download_user_android.png" style="border: 1px solid #dadada; width: 80%;">
                        </div>
                        <div class="btn  btn-block btn-danger   "
                            style="font-size: 16px; background-color: #ff5456; border: 0px; text-decoration: none; width: 80%; margin-top: 20px; border-radius: 8px;" onclick="location.href='http://a.app.qq.com/o/simple.jsp?pkgname=com.sairongpay.coupon.customer'">
                            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/logo_android.png" style="vertical-align: middle; margin: 10px; height: 28px;"><span>Android
                                版本下载</span>
                        </div>
                    </div>
                    <div style="height: 20px;"></div>
                </div>
            </div>
        </div>
        
          <!-- END  -->
        <div style="height: 10px; background-color: #eeeeee;"></div>
    </div>
</div>
