#set( $page_title = "用户版下载" )

#parse("include/downloadUser.html")

<div id="dialogMask" style="display: none; position: fixed; left: 0; top: 0; background: black; opacity: 0.7; width: 100%; height: 100%; z-index: 100;"></div>
<div align="center" style="background-color: #eeeeee; min-height: 100%;">
    <div style="min-height: 100%; max-width: 740px; min-width: 200px; background-color: #f8565d;">
        <div id="IdneedOpenInBrowser" align="center"
            style="z-index: 1001; display: none; position: fixed; top: 0px; background-color: white; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; width: 100%; max-width: 740px;">
            <div align="right">
                <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/top_right_arrow.png" style="height: 20px; margin-right: 10px; margin-top: 10px;" />
            </div>
            <div style="border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; margin-bottom: 10px;">
                <div style="display: inline-block; vertical-align: middle;">
                    <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/yuntao_logo.png" style="width: 60px;">
                </div>
                <div style="display: inline-block; vertical-align: middle; padding: 10px; text-align: left;">
                    <div>
                        下载应用请点击<span style="color: red;">右上角</span>按钮选择
                    </div>
                    <div style="color: red;">[在浏览器中打开]</div>
                </div>
            </div>
        </div>
        <div style="padding-left: 20px; padding-right: 20px;">
            <img alt="" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/download_user.png" style="width: 66%; margin-top: 100px;" />
            <div style="margin-top: 50px;">
                <input type="button" class="btn  btn-block btn-bg-red box_radius " value="下载云淘红包"
                    style="font-size: 20px; background-color: #fcfcfc; border: 0px; text-decoration: none; color: #f8565d; padding: 10px;" onclick="downloadApp()" />
            </div>
        </div>
    </div>
</div>
