<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>了解1元夺宝</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/_resources/css/style.css" />
<style type="text/css">
#rule h3 {
	border-left: 5px solid red;
	background-color: #ddd;
	padding-left: 8px;
}
#rule h5 {
margin: 0px;
}
.color-666{
color: #666;
}
</style>
</head>
<body class="personalCenterBody" style="min-height: 100%;background-color: white;">
   <div id="rule" class="container about-container" style="padding-left: 8px;padding-right: 8px;">
    <p class="color-666">
        “一元夺宝”指用户花费1元参与一个商品的夺宝行动,用户可自定义一个号码作为夺宝号，最终抽取一个幸运号作为最终获奖号码。</p>
    <p class="color-666">
        每件商品在满足开奖条件后，根据夺宝规则抽取出的一个号码。所有夺宝号为该幸运号码的用户都可获得该商品。</p>
    <h3>参与规则</h3>
    <p class="color-666">1.
        参与商品夺宝：商品有对应数量的夺宝号码，用户花费1元可以拥有一个号码（用户可自定义号码或随机生成）；</p>
    <p class="color-666">2。获得商品：当该商品满足开奖条件后，系统根据规则抽出1个幸运号码，所有夺宝号为该幸运号码的用户都可获得该商品。用户还可以选择收取与该商品等价的现金，
        零购官网将会将金额转账至用户零购官网账户。</p>
    <p class="color-666">
        3.忘记领奖：如用户中奖后忘记选择领取方式，7天后系统默认将与中奖商品等价的金额转至用户的零购账户。</p>
    <p class="color-666">
        4.如果您的三级内盟友参与零元夺宝，您也将获得奖励哦。</p> 
    
    <h3>常见问题</h3>

    <ol>
        <li class="color-666"><h5>怎么样参与1元夺宝</h5>
            <p class="color-666">选择您喜欢的商品，并选择您想夺宝的次数，生成夺宝号码后直接付款，既参与了该商品的夺宝。</p>
        </li>
        <li class="color-666"><h5>1元夺宝怎么计算幸运号码的？</h5>
            <p class="color-666">在满足开奖条件后，系统在该期所有的夺宝号中随机抽取一个号码作为中奖号码，零购官网保障抽取的过程公正、公开、透明。</p>
        </li>
        <li class="color-666"><h5>幸运号码的计算结果可信吗？</h5>
            <p class="color-666">零购官网将从参与夺宝的号码中随机抽取一个号码作为夺宝号，抽取过程中无任何人为的干预，不预设中奖号码，开奖过程公正、公开、透明。</p>
        </li>
        <li class="color-666"><h5>怎么样查看中奖</h5>
            <p class="color-666">个人中心中有您的夺宝记录，您中奖会将会在夺宝记录中显示通知您已中奖。</p></li>
        <li class="color-666"><h5>商品是正品吗？怎么保证？</h5>
            <p class="color-666">1元夺宝的所有商品经由零购官网确认，100%正品，可享受厂家提供的联保三包服务。</p></li>
        <li class="color-666"><h5>我收到的商品可以换货或者退货吗？</h5>
            <p class="color-666">非质量问题，不在三包范围内，不给予退换货请尽量亲自签收并当面拆箱验货，如果发现运输途中造成了商品的损坏，请不要签收，可以拒签退回。</p>
        </li>
        <li class="color-666"><h5>参与1元夺宝需要注意什么？</h5>
            <p class="color-666">参与后请经常打开零购官网，确认您是否中奖，如中奖请及时填写联系电话及收货地址。</p></li>
    </ol>
    <h3>公平保障</h3>
    <p class="color-666">零购官网1元夺宝，作为一个公平的平台，保障所有参与用户的夺宝行为。</p>
    <h3>商品配送收货</h3>
    <p class="color-666">在您获奖后，零购官网会第一时间为您寄出商品，大陆地区免快递费。
        获得商品后，请您尽快提交收货地址，超过7天未确认收货地址，视为自动放弃该商品。</p>
    <h3>商品验货与签收</h3>
    <p class="color-666">商品签收时，尽量本人签收，签收前务必请仔细检查该商品，确保商品没有破损、丢失配件，功能是否正常。确保无误后再行签收，避免产生纠纷。如签收后发现商品有问题，零购官网不承担任何责任。商品时随机发货，如对于颜色款式等不满意等换货请求，零购官网不予理睬。</p>

</div>
</body>
</html>
