<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>1元夺宝首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/_resources/css/style.css" />

</head>
<body class="personalCenterBody" style="min-height: 100%;background-color: white;">
   <div style="padding-left: 8px;padding-right: 8px; ">
           <div style="border-left: 5px solid  rgb(240,173,78);width: 100%;height: 30px;">
                    <span style="float: left;color: rgb(255,92,92);line-height: 30px;font-weight: bold;margin-left: 8px;">一元夺宝</span>
                    <span style="float: right;color: #888;line-height: 30px;" ><a th:href="@{/weixin/doubaoRule}" style="color: #666;text-decoration: none;font-weight: bold;">了解规则</a></span>
           </div>
    </div>
    
    <div style="height: 8px;"></div>
    <div class="" style="font-size: 12px;display: inline-block;width: 100%;" align="center">

           
           <div style="text-align: center;width: 100%;" align="center" >
           
           
                       <div style="width: 50%;float: left;border-top: 1px solid #ddd;padding-top: 8px;padding-bottom: 8px;"   th:attrappend="style=${iterStat.odd?'margin-left:-1px;':'border-right: 1px solid #ddd;'}"   th:if="${duobaoList!=null}" th:each="duobao,iterStat : ${duobaoList}">
           <div style="margin-left: 8px;margin-right: 8px;">

           <a  th:href="@{/weixin/duobaoDetail(duobaoId=${duobao.id})}"  style="text-decoration: none;color: black;">
                               <div style="text-align: center;position: relative;">
                                    <img alt=""  th:src="${duobao.imageUrl}"  style="height: 120px;max-width: 100%;" />
                                    <img th:if="${duobao.status==1}" src="/_resources/images/continue.png"  style="position: absolute;top: 0px;left: 0px;width: 50px;"/>
                                    <img th:if="${duobao.status==2}" src="/_resources/images/duobao_end.png"  style="position: absolute;top: 0px;left: 0px;width: 50px;"/>
                                    <img src="/_resources/images/yiyuanduobao.png"  style="position: absolute;top: 0px;right: 0px;width: 60px;"/>
                               </div>
                                                     
                           <div style="margin-top: 8px;">
                                    <span th:text="${duobao.title}"  style="font-size: 14px;"></span>
                           </div>
                           <div  style="color: #888;margin-top: 8px;">
                                     <span>期号：</span><span th:text="${duobao.id}" ></span>
                           </div>
                           <div  style="color: #888;margin-top: 8px;">
                                     <span>市场价：</span><span th:text="${duobao.totalScore}" ></span><span>.00元</span>
                           </div>
                           <div  style="background-color: #ddd;height: 8px;border-radius:8px;margin-top: 8px;"   th:attrappend="style=${' width: 100%;'}" >
                                   <div  style="background-color: rgb(240,173,78);height: 8px;border-radius:8px;"   th:attrappend="style=${' width: ' + duobao.percent + '%;'}" >
                                   </div>
                           </div>
                           <div  style="color: #888;margin-top: 8px;">
                                     <span style="float: left;">参与<span  th:text="${duobao.percent}"></span><span>%</span></span><span style="float: right;">剩<span  th:text="${duobao.leftPercent}"></span>%开奖</span>
                           </div>
                           
                         </a>
                                    </div>
                         
                       </div>
                       
           </div>



        <div  align="center"   style="color: red;background-color: #ddd;"  th:text="${errorMessage}"></div>
    
    
    
    
    </div>
</body>
</html>
