<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title th:text="${duobao.title + '-1元夺宝'}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/_resources/css/style.css" />

</head>
<body class="personalCenterBody">
    <div >
    <div style="padding-left: 8px;padding-right: 8px;">
        <div style="text-align: center;position: relative;border-bottom: 5px solid  rgb(236,81,81);">
                <img alt=""  th:src="${duobao.imageUrl}"  style="width: 100%;" />
                <img th:if="${duobao.status==1}" src="/_resources/images/continue.png"  style="position: absolute;top: 0px;left: 0px;width: 50px;"/>
                <img th:if="${duobao.status==2}" src="/_resources/images/duobao_end.png"  style="position: absolute;top: 0px;left: 0px;width: 50px;"/>
                <img src="/_resources/images/yiyuanduobao.png"  style="position: absolute;top: 0px;right: 0px;width: 60px;"/>
           </div>
                               
               <div style="margin-top: 8px;">
                        <span th:text="${duobao.title}"  style="font-size: 14px;"></span>
               </div>
               <div  style="color: #888;margin-top: 8px;">
                         <span>期号：</span><span th:text="${duobao.id}" ></span>
               </div>
               <div  style="color: #888;margin-top: 8px;">
                         <span>市场价：</span><span th:text="${duobao.totalScore}" ></span><span>.00元</span>
               </div>
               <div  style="background-color: #ddd;height: 8px;border-radius:8px;margin-top: 8px;"   th:attrappend="style=${' width: 100%;'}" >
                       <div  style="background-color: rgb(240,173,78);height: 8px;border-radius:8px;"   th:attrappend="style=${' width: ' + duobao.percent + '%;'}" >
                       </div>
               </div>
               <div  style="color: #888;margin-top: 8px;">
                         <span  style="float: left;">参与<span  th:text="${duobao.percent}"></span><span>%</span></span><span style="float: right;">剩余<span  th:text="${duobao.leftPercent}"></span>%开奖</span>
               </div>
    </div>
         
         <div style="padding-left: 8px;padding-right: 8px;">
         
         <div th:if="${userDuobaoList!=null and userDuobaoList.size()>0}"  style="display: inline-block;width: 100%;">
            <div align="center" style="margin-top: 8px;border-left: 5px solid  rgb(240,173,78);width: 100%;height: 30px;"><span  style="float: left;color: rgb(255,92,92);line-height: 30px;font-weight: bold;margin-left: 8px;">参与记录</span></div>
         <div style="background-color: #ddd;padding: 8px;">
                       <table style="width: 100%;font-size: 12px;color: #666;">
                        <tr  th:if="${userDuobaoList!=null }" th:each="userDuobao : ${userDuobaoList}" style="border-bottom: 1px solid #ddd;">
                                <td align="left" th:text="${userDuobao.user.nickname}" ></td>
                                <td align="right" >参与时间：<span th:text="${#calendars.format(userDuobao.createdAt,'yyyy-MM-dd HH:mm:ss')}"></span></td>
                         </tr>
                   </table>
               </div>
               </div>
               
                        <div th:if="${winUserDuobaoList!=null and winUserDuobaoList.size()>0}"  style="display: inline-block;width: 100%;">
               
                    <div align="center" style="margin-top: 8px;border-left: 5px solid  rgb(240,173,78);width: 100%;height: 30px;"><span  style="float: left;color: rgb(255,92,92);line-height: 30px;font-weight: bold;margin-left: 8px;">中奖记录</span></div>
         <div style="background-color: #ddd;padding: 8px;">
                       <table style="width: 100%;font-size: 12px;color: #666;">
                        <tr  th:if="${winUserDuobaoList!=null}" th:each="userDuobao : ${winUserDuobaoList}" style="border-bottom: 1px solid #ddd;">
                                <td align="left" th:text="${userDuobao.user.nickname}" ></td>
                                <td align="right" >参与时间：<span th:text="${#calendars.format(userDuobao.createdAt,'yyyy-MM-dd HH:mm:ss')}"></span></td>
                         </tr>
                   </table>
               </div>
               </div>
               
               
               </div>
               
    <div  align="center"   style="color: red;background-color: #ddd;"  th:text="${errorMessage}"></div>
   <div style="height: 60px;"></div>
    <a th:href="@{/weixin/addDuobao(duobaoId=${duobao.id})}" >
     <div  th:if="${duobao.status==1}"   style="position: fixed;bottom: 0px;background-color: red;height: 40px;width: 100%;text-align: center;color: white;font-size: 20px;font-weight: bold;line-height: 40px;text-decoration: none;" >
    立即夺宝
     </div> 
    </a>
    
    
     <div id="cashIn"   style="position: fixed;bottom: 0px;background-color: yellow;height: 40px;width: 100%;text-align: center;color: white;font-size: 20px;font-weight: bold;line-height: 40px;text-decoration: none;" >
    微信充值
     </div> 
   
    </div>
</body>
</html>
