<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,minimum-scale=1,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<style type="text/css">
.tlbs, .ts-width, .ts-height {
    display: none !important;
}
</style>
<link rel="icon" href="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/images/ic_redpackage.png" />
<link rel="stylesheet" type="text/css" href="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/css/common.css" />
<script type="text/javascript" charset="utf-8" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/js/lib.js"></script>

<link rel="stylesheet" media="screen" href="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/js/layer/skin/layer.css">
<link rel="stylesheet" media="screen" href="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/js/layer/skin/layer.ext.css">
<script src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/js/layer/layer.min.js"    type="text/javascript"></script>
<script src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/js/layer/extend/layer.ext.js"    type="text/javascript" ></script>
<script src="$!{velocityCommonUtil.getAbsoluteURL()}/_resources/js/jquery.tmpl.min.js"    type="text/javascript" ></script>